[Unit]
Description=Grass CRM FastAPI
After=network.target

[Service]
Type=notify
User=root
Group=www-data
WorkingDirectory=/var/www/crm/GCRM-2
EnvironmentFile=/var/www/crm/GCRM-2/.env
ExecStart=/var/www/crm/GCRM-2/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
